body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
  }
  
  .clock {
    font-family: Arial, sans-serif;
    font-size: 6em;
    padding: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #time {
    text-align: center;
  }
  